$color-main: #000
$color-secondary: #fff

$color-black: #000
$color-white: #fff

$text-color: rgba(0,0,0,.84)
		
*
	padding: 0
	margin: 0

h1, h2, h3, h4, h5, h6, p, div, span, li
	font-family: 'Quicksand', sans-serif

a, a:link, a:hover, a:active
	text-decoration: none

h1
	font-size: 2rem
	line-height: 2.25rem
h2
	font-size: 1.75rem
	line-height: 2rem
h3
	font-size: 1.5rem
	line-height: 1.75rem
h4
	font-size: 1.25rem
	line-height: 1.5rem
h5
	font-size: 1rem
	line-height: 1.25rem
h6
	font-size: 0.75rem
	line-height: 1rem

img
	max-width: 100%


.section-title
	width: 100%
	position: relative
	font-size: 2.5rem
	line-height: 2.5rem
	font-family: 'Quicksand', sans-serif
	margin-bottom: 4rem

	.watermark
		width: 100%
		font-size: 2.25rem
		font-family: 'Quicksand', sans-serif
		font-weight: bold
		opacity: 0.05
		position: absolute
		top: -40px
		left: 15px
	
	@media all and (min-width: 600px)
		font-size: 3.5rem
		text-align: center
		.watermark
			font-size: 2.75rem
			top: -45px
			left: 50%
			transform: translateX(-50%)

.container
	position: relative
	margin: 0 auto
	padding: 0 15px
	@media all and (min-width: 670px)
		width: 650px
	@media all and (min-width: 860px)
		width: 840px
	@media all and (min-width: 1200px)
		width: 1180px

.flex-container
	display: flex
	flex-wrap: wrap

body
	padding-top: 87px

.btn
	background: $color-black
	border: 2px solid $color-black
	font-size: 0.8rem
	font-family: 'Quicksand', sans-serif
	font-weight: bold
	padding: 1rem
	margin: 0 1rem
	display: inline-block
	color: $color-white
	cursor: pointer
	text-transform: uppercase
	transition: all 300ms ease
	&:hover
		background: $color-white
		color: $color-black

.btn-reversed
	@extend .btn
	background: $color-white
	color: $color-black
	&:hover
		background: $color-black
		color: $color-white

    

// `Archive` page
.archive
	.hero
		padding: 2rem
		text-align: center
	
	.blog
		padding: 0

// The `hero` applies for each `Article` page
.single-article
	.hero
		padding: 2rem

		.flex-container
			.article-date, .article-meta
				width: 100%
				padding: 1rem 0
				box-sizing: border-box

			.article-date
				display: flex
				list-style: none
				border-bottom: 1px solid $color-black
				justify-content: center
				flex-direction: column
				text-align: center
				
				.day
					font-size: 2rem
					font-weight: 700 !important
					-webkit-text-stroke: 1px $color-black
					text-stroke: 1px $color-black
					-webkit-text-fill-color: transparent
					text-fill-color: transparent

				.month
					font-size: 1.2rem
					letter-spacing: 0.3rem

			.article-meta
				.title
					margin-bottom: 0.5rem

				.category a
					font-size: 1.2rem
					color: $color-black
					letter-spacing: 0.3rem

			@media (min-width: 667px)
				.article-date, .article-meta
					padding: 1rem
				.article-date
					width: 30%
					border-bottom: 0
					border-right: 1px solid $color-black
				.article-meta
					width: 70%

			@media (min-width: 890px)
				.article-date
					width: 20%
				.article-meta
					width: 80%

			@media (min-width: 1200px)
				.article-date
					width: 15%
				.article-meta
					width: 85%

/* 
 * Header
 */
header
	position: fixed
	top: 0
	width: 100%
	background: #fefefe
	z-index: 999
	box-shadow: 0px 1px 8px 1px #eaeaea

	nav
		margin: 1rem auto
		text-align: center
		
		.logo

		.toggle-menu
			position: absolute
			right: 1rem
			top: 0
			.close-menu
				display: none
			.open-menu, .close-menu
				font-size: 25px
				line-height: 55px
				cursor: pointer

		.menu-links
			width: 100%
			position: fixed
			background: #fefefe
			top: 85px
			left: -100%
			transition: all 300ms ease

			li
				display: block
				line-height: 50px

			a
				display: block
				font-size: 1.2rem
				font-family: 'Quicksand', sans-serif
				font-weight: bold
				color: $color-black
				border-bottom: 2px solid transparent
				transition: all 300ms ease
				&:hover
					border-color: $color-black

		@media all and (min-width: 667px)
			display: flex
			.logo
				flex: 0.5
				text-align: left

			.toggle-menu
				display: none

			.menu-links
				// Reset Mobile Styles
				position: static
				top: 0
				left: auto
				// Other Screen Styles
				flex: 1
				text-align: right

				li
					display: inline-block
					margin: 0 15px


/*
 * Homepage
 */
.page-home

	// Intro
	.hero
		margin-bottom: 0
		position: relative
		height: 400px
		background-image: url(../img/Yahya-Elharony-Banner.jpg)
		background-attachment: fixed
		background-position: top center
		z-index: 0
		.overlay
			position: absolute
			width: 100%
			height: 100%
			top: 0
			left: 0
			background: rgba(0, 0, 0, 0.82)
		.inner
			position: fixed
			width: 100%
			top: 12%
			color: $color-white
			text-align: center
			z-index: 0
			.hello-text
				font-size: 2rem
				font-family: 'Audiowide'
				margin-bottom: 1.2rem
				letter-spacing: 0.2rem
			.hello-img
				img
					border: 1px solid $color-white
			.details
				font-size: 2rem

			@media all and (max-width: 667px)
				position: absolute
		@media all and (min-width: 391px)
			.inner
				top: 17.5%

	// About
	.about
		position: relative
		background: $color-white
		padding: 4rem 0

		.section-title
			margin: 2rem 0

		.info, .image
			width: 100%

		.image
			text-align: center
			margin-bottom: 1rem

		.info
			text-align: center
			.details
				margin: 0 auto
				text-align: left
				p
					margin: 10px 0
					font-size: 1.3rem
					line-height: 1.7rem

			.btn
				margin-top: 2rem
	
		@media all and (min-width: 600px)
			.flex-container
				flex-direction: row-reverse

		@media all and (min-width: 859px)
			.info, .image
				width: 50%

		@media all and (min-width: 1200px)
			.info
				.details
					padding-top: 1rem


/* blog */
.blog
	position: relative
	padding: 4rem 0
	background: $color-white
	z-index: 0
		
	.masonry
		column-count: 1
		column-gap: 0

		article
			margin: 0 0 30px
			-webkit-column-break-inside: avoid
			page-break-inside: avoid
			break-inside: avoid

			.inner
				padding: 1rem
				box-shadow: 0 0 20px 2px #ececec
				margin: 0 4% 4%
				transition: all 300ms ease-in-out

				.info
					font-size: 0.8rem
					color: $text-color

					.category
						a
							color: $color-black
							font-weight: bold
							text-decoration: underline

				.title
					margin: 0.5rem 0
					a
						color: $color-black

				.brief
					font-size: 1.2rem

				&:hover
					box-shadow: 0 0 20px 2px #ececec, 0 15px 20px -15px #2C3E50
		
		@media all and (min-width: 670px)
			column-count: 2
				
		@media all and (min-width: 1050px)
			column-count: 3


/* Testimonials */
.testimonials
	position: relative
	padding: 4rem 0 1rem
	background: $color-white
	z-index: 0
	.section-title
		margin-bottom: 2rem
	.swiper-container
		width: 100%
		.swiper-slide
			width: 375px
			background: transparent
			margin-bottom: 2rem
			.inner
				padding: 1rem
				opacity: 0.5
				transition: all .3s ease-out
				.review
					position: relative
					font-size: 1.3rem
					line-height: 1.4rem
					margin: 2rem 0
					padding: 2rem
					border-radius: 1rem
					background-color: #e6eaed
					transition: all .3s ease-out
					&:after
						position: absolute
						content: ""
						border: 15px solid #ddecf6
						bottom: -30px
						border-right-color: transparent
						border-left-color: transparent
						border-bottom-color: transparent
				.client
					.name
						font-family: "Audiowide"
						font-size: 1.3rem
						line-height: 1.75rem
						margin-bottom: 0.5rem
					.company
						img
							height: auto
		.swiper-slide-active
			background: transparent
			.inner
				opacity: 1
				.review
					background-color: $color-white
					box-shadow: 12.5px 21.7px 60px rgba(0, 0, 1, 0.25)
					&:after
						border: 15px solid $color-white
						border-right-color: transparent
						border-left-color: transparent
						border-bottom-color: transparent
						



/*
 * Contact Page
 */
.page-contact
	.contact-form
		margin-bottom: 2em
		.nf-before-form-content
			.nf-form-fields-required
				display: none

		.nf-error .ninja-forms-field
			border: 0
			border-bottom: 2px solid #e80000

		label
			font-size: 1.1em

		input:not([type="button"]), select, textarea
			font-size: 17px
			padding: 0.2em
			color: #666666
			border: 0
			border-bottom: 2px solid #e7e7e7

			&:focus, &:active
				outline: 0
				border-bottom: 2px dotted #444444

		textarea
			height: 100px !important
			resize: vertical

		@media all and (max-width: 667px)
			.one-half
				width: 100% !important
				margin-left: 0 !important

/* 
 * Single Page
 */
.single-article
	.article-controls
		position: fixed
		z-index: 2

		// .reading-mode
			
		// 	.auto-scrolling-on, .auto-scrolling-off
		// 		position: fixed
		// 		width: 40px
		// 		height: 40px
		// 		padding: 0.45rem
		// 		font-size: 1.25rem
		// 		line-height: 1.5rem
		// 		z-index: 99

		// 	.hide
		// 		left: -10%
		// 		opacity: 0
			
		// 	.show
		// 		left: 0
		// 		opacity: 1

		// @media all and (max-width: 480px)
		// 	.auto-scrolling-on, .auto-scrolling-off
		// 		width: 25px !important
		// 		height: 25px !important
		// 		font-size: 0.7rem !important
		// 		line-height: 0 !important
		// 		i
		// 			margin: -1px 0 0 -3px
		// @media all and (min-width: 1050px)
		// 	left: 10%
		// @media all and (min-width: 1400px)
		// 	left: 15%

	.content
		position: relative

		// Center all content
		h2, h3, h4, h5, h6, p, blockquote, ul, ol, figure
			width: 90%
			margin: 1rem auto

		// Content Color
		h2, h3, h4, h5, h6, p, blockquote, li
			color: $text-color

		h3, h4, h5
			margin-top: 2rem

		// Sticky Header
		// h2
		// 	position: -webkit-sticky
		// 	position: sticky
		// 	padding: 2rem 0
		// 	margin: 0 auto
		// 	top: 85px
		// 	background: $color-white
		// 	box-sizing: border-box
		// 	z-index: 99

		// Normal Heading
		h2
			padding: 2rem 0

		// Normal Text
		p, li
			font-size: 1.3rem
			line-height: 1.7rem

		// Quote
		blockquote
			font-style: italic
			margin: 2rem auto
			padding: 0.1rem 0.5rem 0.1rem 1.5rem
			border-left: 3px solid $color-black
			box-sizing: border-box

			p
				width: 100%

		// Regular Lists
		ul, ol
			padding-left: 2.5rem
			box-sizing: border-box
			
			li
				padding-left: 0.5rem
				margin-bottom: 1rem

		// Nested Lists
		ul ul, ol ol
			width: 100%
			
		// Image
		p img, figure img
			margin: 0 auto
			display: block
			height: auto

		// Horizontal Line
		hr
			position: relative
			margin: 30px auto 15px
			width: 200px
			height: 0
			border: 0
			border-bottom: 1px solid $text-color

		// Links
		a
			color: $text-color
			text-decoration: underline

		// Code Highlighter
		.EnlighterJSWrapper
			width: 90%
			margin: 0 auto

			ol
				width: 100%
				padding-left: 0.5rem

				li
					padding: 0.3rem 0.5rem

			.EnlighterJSToolbar
				top: 1px
				right: 1px

				.EnlighterJSInfoButton
					display: none

			li
				font-family: Courier New
				font-size: 1.1rem
				padding: 0.3rem
				margin-left: 3rem

				span
					font-family: Courier New
					font-size: 1.1rem

		@media all and (min-width: 667px)
			h2, h3, h4, h5, h6, p, blockquote, ul, ol, .EnlighterJSWrapper
				width: 70%

	.comments
		margin-top: 2rem
		padding-top: 2rem
		border-top: 1px solid #eee

	.related-articles
		margin-top: 2rem
		border-top: 1px solid #eee
		border-bottom: 1px solid #eee

		.no-articles
			position: absolute
			width: 100%
			font-size: 1.3rem
			text-align: center


/*
 * Single Page 
 */
.single
	.hero
		padding: 4rem 0 0

		.section-title
			margin-bottom: 3rem


/*
 * Footer
 */
footer
	padding-top: 4rem

	.footer-content
		background: $color-white	
		.section-title
			margin-bottom: 2rem

		.contact-links
			text-align: center
			margin-bottom: 1rem
			li
				display: block
				font-size: 1.5rem
				list-style: none
				a
					position: relative
					display: inline-block
					height: 40px
					width: 40px
					margin: 0 0.3rem
					color: $color-black
					overflow: hidden
					&:before
						content: ""
						position: absolute
						width: 100%
						height: 100%
						top: -100%
						left: 0
						background: $color-black
						z-index: -1
						transition: all 500ms cubic-bezier(0.55, 0.38, 0.36, 1.45)
					&:hover:before, &:focus:before
						top: 0
						z-index: 0
					&:hover i, &:focus i
						color: $color-white
						z-index: 1
					&:focus
						outline: 0
					i
						position: relative
						line-height: 40px
						transition: all 500ms ease

		.copyrights
			padding: 1rem 0
			margin-bottom: 1rem
			font-family: 'Audiowide'
			text-align: center

	.disclaimer
		padding: 1rem
		text-align: center
		background: $color-black
		color: $color-white
	

/* 
 * 404
 */
.page-404
	.hero
		margin-bottom: 4rem
		text-align: center
		p
			font-size: 1.5rem
			width: 70%
			margin: 0 auto 1rem

	.blog
		padding: 0
		.section-title
			text-align: left