$color-main: #000
$color-secondary: #fff

    
*
  padding: 0
  margin: 0

h1, h2, h3, h4, h5, h6, p, div, span, li
  font-family: 'Open Sans', sans-serif

a, a:link, a:hover, a:active
  text-decoration: none

h1
  font-size: 3rem
h2
  font-size: 2.5rem
h3
  font-size: 1.75rem
h4
  font-size: 1.5rem
h5
  font-size: 1.25rem
h6
  font-size: 1rem

.hero
  padding: 3rem 0
  text-align: center
  background: $color-main
  color: $color-secondary

.section-title
  width: 100%
  font-size: 2.5rem
  text-align: center
  margin: 1%

.container
  position: relative
  margin: 0 auto
  @media all and (min-width: 670px)
    width: 650px
  @media all and (min-width: 860px)
    width: 840px
  @media all and (min-width: 1200px)
    width: 1180px
 
body
  padding-top: 87px

header
  position: fixed
  top: 0
  width: 100%
  background: $color-secondary
  z-index: 999
  nav
    display: flex
    flex-wrap: wrap
    margin: 1rem auto
    text-align: center
    .logo
      width: 100%
      text-align: center

    .menu-links
      width: 100%
      li
        display: inline-block
        margin: 0 15px
        line-height: 50px
      a
        display: block
        font-size: 1.2rem
        color: $color-main
        border-bottom: 2px solid transparent
        transition: all 300ms ease
        &:hover
          border-color: $color-main
    @media all and (min-width: 670px)
      .logo
        width: 20%
        text-align: left
      .menu-links
        width: 80%
        text-align: right


/* hero */
.page-home
  .hero
    position: relative
    height: 700px
    background-image: url(../img/Yahya-Elharony-Banner.jpg)
    background-attachment: fixed
    background-position: center
    background-size: cover
    .overlay
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
      background: rgba(0, 0, 0, 0.04)
    .inner
      position: fixed
      width: 100%
      top: 10%
      color: $color-secondary
      text-align: center
      z-index: 99
      .hello
        img
          border: 1px solid $color-secondary
      .details
        font-size: 2rem


    @media all and (min-width: 670px)
      .info, .photo
        width: 50%

/* 0 15px 15px -15px #2C3E50, bottom only 0 0 0 2px #e8e8e8 */


/* blog */
.blog
  display: flex
  flex-wrap: wrap
  width: 96%
  max-width: 1200px
  margin: 0 auto
  article
    width: 100%
    .inner
      height: 120px
      padding: 1rem
      box-shadow: 0 0 20px 2px #ececec
      margin: 0 4% 4%
      transition: all 300ms ease-in-out
      .info
        margin-bottom: 0.5rem
      .title
        margin-bottom: 0.5rem
        a
          color: $color-main
      .brief
        font-size: 1.2rem
      &:hover
        box-shadow: 0 0 20px 2px #ececec, 0 15px 20px -15px #2C3E50
  @media all and (min-width: 670px)
    article
      width: 50%
      margin: 1% 0
  @media all and (min-width: 670px) and (max-width: 712px)
    article
      .inner
        height: 150px
  @media all and (min-width: 1050px)
    article
      width: calc(100%/3)


/* 
 * Single Page
 */
.single-article
  .content
    position: relative
    h2,h3,h4,h5,h6,p
      width: 70%
      margin: 1rem auto
    h2
      position: -webkit-sticky
      position: sticky
      top: 87px
      background: #ffffff
      z-index: 99
    p
      font-size: 1.4rem
    .EnlighterJSWrapper
      width: 70%
      margin: 1rem auto
      padding: 1rem
      li
        font-family: Courier New
        font-size: 1.1rem
        padding: 0.3rem
        margin-left: 3rem
        span
          font-family: Courier New
          font-size: 1.1rem
    p img
      width: 100%
      height: auto
      max-height: 500px