* {
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, h6, p, div, span, li {
  font-family: "Open Sans", sans-serif; }

a, a:link, a:hover, a:active {
  text-decoration: none; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

.hero {
  padding: 3rem 0;
  margin-bottom: 2rem;
  text-align: center;
  background: #000;
  color: #fff; }

.section-title {
  width: 100%;
  font-size: 2.5rem;
  text-align: center;
  margin: 1%; }

.container {
  position: relative;
  margin: 0 auto; }
  @media all and (min-width: 670px) {
    .container {
      width: 650px; } }
  @media all and (min-width: 860px) {
    .container {
      width: 840px; } }
  @media all and (min-width: 1200px) {
    .container {
      width: 1180px; } }

.flex-container {
  display: flex;
  flex-wrap: wrap; }

body {
  padding-top: 87px; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 999; }
  header nav {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto;
    text-align: center; }
    header nav .logo {
      width: 100%;
      text-align: center; }
    header nav .menu-links {
      width: 100%; }
      header nav .menu-links li {
        display: inline-block;
        margin: 0 15px;
        line-height: 50px; }
      header nav .menu-links a {
        display: block;
        font-size: 1.2rem;
        color: #000;
        border-bottom: 2px solid transparent;
        transition: all 300ms ease; }
        header nav .menu-links a:hover {
          border-color: #000; }
    @media all and (min-width: 670px) {
      header nav .logo {
        width: 20%;
        text-align: left; }
      header nav .menu-links {
        width: 80%;
        text-align: right; } }

/* hero */
.page-home .hero {
  margin-bottom: 0;
  position: relative;
  height: 700px;
  background-image: url(../img/Yahya-Elharony-Banner.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }
  .page-home .hero .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.04); }
  .page-home .hero .inner {
    position: fixed;
    width: 100%;
    top: 10%;
    color: #fff;
    text-align: center;
    z-index: 99; }
    .page-home .hero .inner .hello img {
      border: 1px solid #fff; }
    .page-home .hero .inner .details {
      font-size: 2rem; }
  @media all and (min-width: 670px) {
    .page-home .hero .info, .page-home .hero .photo {
      width: 50%; } }

/* 0 15px 15px -15px #2C3E50, bottom only 0 0 0 2px #e8e8e8 */
/* blog */
.blog {
  background: #fcfcfc; }
  .blog article {
    width: 100%; }
    .blog article .inner {
      height: 120px;
      padding: 1rem;
      box-shadow: 0 0 20px 2px #ececec;
      margin: 0 4% 4%;
      transition: all 300ms ease-in-out; }
      .blog article .inner .info {
        margin-bottom: 0.5rem; }
      .blog article .inner .title {
        margin-bottom: 0.5rem; }
        .blog article .inner .title a {
          color: #000; }
      .blog article .inner .brief {
        font-size: 1.2rem; }
      .blog article .inner:hover {
        box-shadow: 0 0 20px 2px #ececec, 0 15px 20px -15px #2C3E50; }
  @media all and (min-width: 670px) {
    .blog article {
      width: 50%;
      margin: 1% 0; } }
  @media all and (min-width: 670px) and (max-width: 712px) {
    .blog article .inner {
      height: 150px; } }
  @media all and (min-width: 1050px) {
    .blog article {
      width: calc(100%/3); } }

/* Single Page
 */
.single-article .content {
  position: relative; }
  .single-article .content h2, .single-article .content h3, .single-article .content h4, .single-article .content h5, .single-article .content h6, .single-article .content p {
    width: 70%;
    margin: 1rem auto; }
  .single-article .content h2 {
    position: -webkit-sticky;
    position: sticky;
    top: 87px;
    background: #ffffff;
    z-index: 99; }
  .single-article .content p {
    font-size: 1.4rem; }
  .single-article .content .EnlighterJSWrapper {
    width: 70%;
    margin: 1rem auto;
    padding: 1rem; }
    .single-article .content .EnlighterJSWrapper li {
      font-family: Courier New;
      font-size: 1.1rem;
      padding: 0.3rem;
      margin-left: 3rem; }
      .single-article .content .EnlighterJSWrapper li span {
        font-family: Courier New;
        font-size: 1.1rem; }
  .single-article .content p img {
    width: 100%;
    height: auto;
    max-height: 500px; }

/*# sourceMappingURL=app.css.map */
