$color-main: #000;
$color-secondary: #fff;
$color-black: #000;
$color-white: #fff;
$text-color: rgba(0,0,0,.84);

section {
    .section-title {
        margin-bottom: 3rem;
        text-align: left;
    
        &:after {
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            bottom: 3px;
            margin-left: 3px;
            border-radius: 50%;
            background: #ff0000;
    
            @media (min-width: 600px) {
                width: 10px;
                height: 10px;
                bottom: -2px;
            }
        }
    }
}


/*
 * Homepage
 */
 .page-home {
    
    .about {

        position: relative;
        background: $color-white;
        padding: 4rem 0 0;
    
        .section-title {
            margin: 2rem 0;
        }
    
        .intro {
            margin-bottom: 1rem;

            .info, .image {
                width: 100%;
            }

            .image {
                max-height: 300px;
                margin-bottom: 1rem;
                text-align: center;
    
                img {
                    height: 100%;
                }
            }
        
            .info {
                text-align: center;
    
                .details {
                    margin: 0 auto;
                    text-align: left;
                    
                    p {
                        margin: 10px 0;
                        font-size: 1.3rem;
                        line-height: 1.7rem;
    
                        a {
                            color: $color-black;
                            text-decoration: underline;
                        }
                    }
                }
        
                .btn {
                    margin-top: 2rem;
                }
            }
        }

        .featured {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 2rem 0;
            text-align: center;

            .featured-list {
                margin: 0 0 2rem;

                p {
                    margin-bottom: 2rem;
                    font-size: 0.8rem;
                    font-weight: bold;
                    text-transform: uppercase;
                }
    
                .logos {
                    display: flex;
                    justify-content: center;
    
                    img {
                        max-height: 75px;
                        margin: 0 1rem;
                    }
                }
            }

            .featured-list:last-child {
                margin: 0;
            }

            @media (min-width: 550px) {
                .featured-list, .featured-list:last-child {
                    margin: 0 1rem;
                }
            }
        }
    
        @media (min-width: 600px) {
            .intro {
                flex-direction: row-reverse;

                .image {
                    max-height: 425px;
                }
            }
        }
    
        @media (min-width: 859px) {

            .intro {
                .info, .image {
                    width: 50%;
                }
        
                .image {
                    margin-top: -80px;
                }
            }
        }
    
        @media (min-width: 1200px) {
            .intro {
                .info {
                    .details {
                        padding-top: 1rem;
                    }
                }
            }
        }   
    }
 }


.clients {
    padding: 4rem 0;
    .clients-list {
        display: flex;
        flex-wrap: wrap;

        .client {
            display: flex;
            align-items: center;
            width: 100%;
            margin: 2% 1%;
            box-sizing: border-box;

            a {
                margin: auto;

                img {
                    max-width: 100%;
                    width: auto;
                    height: auto;
                    max-height: 100px;
                    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                    filter: grayscale(100%);
                    opacity: 0.6;
                    transition: all 300ms ease;
                }
    
                &:hover img {
                    -webkit-filter: none; /* Safari 6.0 - 9.0 */
                    filter: none;
                    opacity: 1;
                }
            }

            @media (min-width: 500px) {
                width: calc(96%/2);
                padding: 3%;
                margin: 1% 1%;
            }

            @media (min-width: 667px) {
                width: calc(94%/3);
                padding: 2%;
            }

            @media (min-width: 860px) {
                padding: 1%;
            }
        }
    }
}

.blog {
    background: #f9f9f9;

    .blog-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 2rem;

        article {
            width: 100%;

            .inner {
                position: relative;
                padding-bottom: 0.5rem;
                background: #fff;

                .thumbnail {
                    img {
                        width: 100%;
                        height: auto;
                        max-height: 250px;
                    }

                    &:hover img {
                        opacity: 0.8;
                    }
                }

                .content {
                    margin: 0.75rem;

                    .title {
                        font-size: 1.3rem;
                        font-weight: bold;
                        margin-bottom: 0.75rem;
                        line-height: 1.5rem;
    
                        a {
                            color: #000;

                            &:hover, &:focus {
                                text-decoration: underline;
                            }
                        }
                    }

                    .brief {
                        color: #444;
                        margin-bottom: 1rem;
                    }

                    .post-categories {
                        list-style: none;

                        li {
                            display: inline-block;
                            margin: 0.25rem;

                            a {
                                font-size: .6rem;
                                font-weight: 700;
                                color: #000;
                                text-transform: uppercase;
                                border: 2px solid #f9f9f9;
                                border-radius: 2rem;
                                padding: .2rem .5rem .2rem;

                                &:hover {
                                    border-color: #444;
                                }
                            }
                        }
                    }

                    .date {
                        position: absolute;
                        top: 0;
                        left: 0;
                        list-style-type: none;
                        text-align: left;
                        padding: .5rem;
                        background: #000;
                        color: #fff;

                        .day {
                            font-size: 1.7rem;
                            font-weight: 700;
                        }

                        .month {
                            font-size: 1rem;
                            text-transform: uppercase;
                            margin-top: -5px;
                        }
                    }
                }
                
            }
        }
    }

    .btn {
        margin: 1.5rem auto 0;
        width: 100px;
        display: block;
        text-align: center;
    }
}

.testimonials {
    position: relative;
    padding-bottom: 2rem;
    background: #f9f9f9;
    z-index: 0;

    .testimonials-list {
        column-count: 1;
        column-gap: 0;

        .testimonial {
            margin: 0 0 30px;
            -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
            break-inside: avoid;

            .inner {
                background: #fff;
                padding: 1rem;
                margin: 0 4% 4%;
                border: 1px solid #f1f2f4;
                transition: all 300ms ease-in-out;

                .info {
                    font-size: 0.8rem;
                    font-weight: 600;
                    margin-bottom: 10px;
                }
                
                .review {
                    font-size: 1.1rem;
                }
            }
        }

        @media all and (min-width: 860px) {
            column-count: 2;
        }

        @media all and (min-width: 1200px) {
            column-count: 3;
        }
    }
}  

/** [Page] Single/Archive **/
.hero {
    padding: 2rem 0;
    .section-title {
        margin-bottom: 0;
    }
}

.archive {
    .blog {
        padding: 1rem 0;
    }
}

/** [Page] 404 */
.page-404 {
    .hero {
        margin: 4rem 0;
        text-align: center;

        .section-title {
            text-align: center;
        }

        p {
            font-size: 1.5rem;
            margin: 1.5rem auto;
            width: 70%;
        }
    }
    .blog {
        padding: 2rem 0;

        .section-title {
            margin-bottom: 0;
            margin: 1rem 0 2rem;
        }
    }
}

/** [Page] Contact */
.contact-form {
    padding: 1rem 0;
}


/** Footer **/
/*
 * Footer
 */
footer {
    padding: 1rem 0;
    border-top: 1px solid #f1f2f4;

    .footer-content {
        display: flex;
        background: $color-white;

        .section-title {
            margin-bottom: 2rem;
        }

        .copyrights {
            width: 50%;
            text-align: left;
        }

        .contact-links {
            width: 50%;
            text-align: right;

            li {
                display: block;

                a {
                    position: relative;
                    display: inline-block;
                    margin: 0 0.3rem;
                    color: $color-black;
                    overflow: hidden;

                    &:hover, &:focus {
                        opacity: 0.7;
                    }

                    i {
                        position: relative;
                        transition: all 500ms ease;
                    }
                }
            }
        
        }
    }
}