* {
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: 'Brandon Text';
	src: url("./fonts/BrandonText-Regular.otf") format("opentype");
	font-display: swap;
}

h1, h2, h3, h4, h5, h6, p, div, span, li, label, input, textarea {
	font-family: 'Brandon Text', sans-serif;
}
a, a:link, a:hover, a:active {
	text-decoration: none;
}
h1 {
	font-size: 2rem;
	line-height: 2.25rem;
}
h2 {
	font-size: 1.75rem;
	line-height: 2rem;
}
h3 {
	font-size: 1.5rem;
	line-height: 1.75rem;
}
h4 {
	font-size: 1.25rem;
	line-height: 1.5rem;
}
h5 {
	font-size: 1rem;
	line-height: 1.25rem;
}
h6 {
	font-size: 0.75rem;
	line-height: 1rem;
}
strong {
	font-weight: 600;
}
img {
	max-width: 100%;
}

// Hide Disqus Footer
#disqus_thread {
	position: relative;
}
#disqus_thread:after {
	content: "";
	display: block;
	height: 55px;
	width: 100%;
	position: absolute;
	bottom: 0;
	background: white;
}