.about {
    position: relative;
    background: $color-white;
    padding: 2rem 0 2rem;

    @media (min-width: 480px) {
        padding: 2.5rem 0 2rem;
    }

    .section-title {
        margin: 2rem 0;
        font-weight: 700;
    }

    .intro {
        margin-bottom: 1rem;

        .info {
            .details {
                margin: 0 auto;
                
                p {
                    margin: 10px 0;
                    font-size: 22px;
                    line-height: 1.6;

                    a {
                        position: relative;
                        color: $color-black;
                        // text-decoration: underline;

                        &:after {
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: -2px;
                            width: 100%;
                            height: 1px;
                            background: #000;
                            transition: all 200ms cubic-bezier(0.03, 0, 1, 1.02)
                        }

                        &:hover:after {
                            height: 6px;
                        }
                    }
                }
            }
    
            .btn {
                margin-top: 1rem;
                margin-left: 0;
            }
        }

        .empty {
            display: none;
        }

        @media (min-width: 830px) {
            .info {
                width: 60%;
            }
            .empty {
                display: flex;
                align-items: center;
                width: 40%;
                padding: 2rem;
                text-align: center;
                background: #eeeeee1f;
                box-sizing: border-box;

                p {
                    width: 100%;

                    a {
                        color: $color-black;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}