footer {
    padding: 1rem 0;
    border-top: 1px solid #f1f2f4;

    .footer-content {
        display: flex;
        justify-content: space-between;
        background: $color-white;

        .section-title {
            margin-bottom: 2rem;
        }

        .copyrights {
            
        }

        .contact-links {
            li {
                height: 24px;
                list-style: none;

                a {
                    display: inline-block;
                    margin: 0 0.3rem;
                    color: $color-black;

                    &:hover, &:focus {
                        opacity: 0.7;
                    }

                    i {
                        position: relative;
                        transition: all 500ms ease;
                    }
                }
            }
        
        }
    }
}