.page-404 {
    .hero {
        text-align: center;

        .section-title {
            text-align: center;
        }

        p {
            font-size: 1.5rem;
            margin: 1.5rem auto;
            width: 70%;
            color: $color-white;
        }
    }
    .blog {
        padding: 2rem 0;

        .section-title {
            margin-bottom: 0;
            margin: 1rem 0 2rem;
        }
    }
}